<a [routerLink]="['/models', model.record_id]" class="card-link">
  <div class="card" [style.background]="theme.card" [style.color]="theme.text">
    <div class="header">
      <h3>{{ model.custom_name }}</h3>
      @if (model.badges?.length){
        <ul>
          @for (b of model!.badges!.slice(0, 2) || []; track b.name) {
          <span class="badge">{{ b.name }}</span>
          }
        </ul>
      }@else{
        <span class="badge">No badges</span>
      }
    </div>
    <p class="desc">{{ model.description }}</p>
  </div>
</a>
